<!DOCTYPE html>
<html>
<head>
	<title>Show Data</title>
	<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron col-md7">
			<h2>User data...</h2>
			<table class="table table-hover">
				<tr>
					<th>College name</th>
					<th>Name</th>
					<th>Roll Number</th>
					<th>Branch</th>
					<th>Year</th>
					<th>Actions</th>
					
				</tr>
				{% for k in s%}
				<tr>
					<td>{{k.collegename}}</td>
					<td>{{k.name}}</td>
					<td>{{k.roll}}</td>
					<td>{{k.branch}}</td>
					<td>{{k.year}}</td>
					<td>
						<a href="#" class="btn btn-primary">Update</a>
						<a href="{% url 'det' k.id %}" class="btn btn-primary">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>