<!DOCTYPE html>
<html>
<head>
	<title>::Bootstrap file::</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to Bootstrap</h1>
		</div>
		
	</div>
	<div class="row">
		<div class="jumbotron col-md-4">
			<h1>Welcome to Bootstrap</h1>
		</div>
		<div class="jumbotron col-md-7">
			<h1>Welcome to Bootstrap</h1>
		</div>
		<div class="jumbotron col-md-7">
			<h1>Welcome to Bootstrap</h1>
		</div>
	</div>
	<div class="row">
		<div class="jumbotron col-md-1"> 
			<h2>1</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>2</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>3</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>4</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>5</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>6</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>1</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>2</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>3</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>4</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>5</h2>
		 </div>
		 <div class="jumbotron col-md-1"> 
			<h2>6</h2>
		 </div>
	</div>

</body>
</html>