<!DOCTYPE html>
<html>
<head>
	<title>Inline and Internal</title>
	<style type="text/css">
		h2
		{
			color:white;
			background-color: red;
			width:20%;
			margin:auto;
			padding:20px;
			border-radius: 30px;
			text-align:center;
		}
		#pq
		{
			margin-top: 12px;
			background-color: blue;
		}
		.cl
		{
			background-color: magenta;
			color:white;
			padding:12px;
			width:30%;
			font-size: 20px;
		}
		#re
		{
			background-color: black;
			color:white;
		}
	</style>
</head>
<body>
<h3 style="color:white;background-color: green;width:50%;padding:20px;margin-left: 50px;margin-right:50px;font-size: 23px;border-radius: 20px">Inline Example</h3>

<h2>Internal Example</h2>
<h2 id="pq">This is example for id</h2>

<h4 class="cl">Sample1</h4>
<h4 class="cl" id="re">Sample2</h4>
<h4 class="cl">Sample3</h4>
<script type="text/javascript">
	alert("Hi Welcome")
</script>
</body>
</html>